@model List<EventoModel>
@{
    ViewData["Title"] = "Listagem de Eventos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Evento" asp-action="Criar">Adicionar novo Evento</a>
    </div>
    <br/>

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-sm close-alert" aria-label="Close">x</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-sm close-alert" aria-label="Close">x</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <h1 class="display-4">Listagem de Eventos</h1>

<table class="table" id="table-Eventos">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Local</th>
            <th scope="col">Data</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(EventoModel Evento in Model)
                {
                    <tr>
                        <th scope="row">@Evento.Id</th>
                        <td>@Evento.Nome</td>
                        <td>@Evento.Local</td>
                        <td>@Evento.Data</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@Evento.Id" asp-controller="Evento" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@Evento.Id" asp-controller="Evento" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
</table>
</div>